/*! 
 *  @package EP4Bookx - EP4 CSV fork to import Bookx fields - tested with Zencart 1.5.4
 *  @version  0.9.9 - Still in development, make your changes in a local environment
 *  @see BookX Module for ZenCart https://sourceforge.net/p/zencartbookx
 *  @see Readme-EP4Bookx
 *  @author mesnitu 
 *  @see https://github.com/mesnitu/EasyPopulate-4.0-BookX
 *  $Id: ep4bookx.css [UTF-8] - 16/mar/2018-19:48:01 mesnitu  $
 */

.ep4bookx-section {
  width: 40%;
  margin: 1rem 0;
  padding: 0.5rem 0;

}

.ep4bookx-section-open {
    width:100%;
    background: #dff0d8;
}

.ep4bookx-section h4{
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    line-height: 1.5;
}

.collapse {
    margin-top: 1rem;
}

.well {
     padding: 0 15px;
}   

.ep4bookx-howto h3 {
    color:#F44336;
    font-size: 2rem;
}

.customize-fields-single {
    background: white;
    padding: 0.2rem;
    display: inline-block;
    vertical-align: middle;
}

.form-group {
    margin-bottom: 0rem;
    background: #eee;
    padding: 0.2rem;
    border: 1px solid #f5f5f5;
}

/* For customize layouts section */
.box {
    margin: 0;
    display: table;
    border-spacing: 3px;
    width: 100%;
    border-bottom: 1px solid #def;
    text-align: right;
}
.box span {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    text-align: left;
}

fieldset {
    margin:1.5rem 0;
}
/** Reports */
.bookx-reports {
    font-size: 11px;
    width: 80%;
    box-shadow: 5px 5px 5px #888888;
}
tr.bookx-reports-top th {
    background: #607D8B;
}
th.bookx-reports-th-left {
    padding: 0;
    border-bottom: 1px solid #cbcbcb;
}

th.bookx-reports-th-caption {
        color: #FF5722;
}

.bookx-report-type {
    font-weight: bold;
}


.ep4bookx-section legend {
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    color: #F44336;
    margin-bottom: 1rem;
}

.customize-fields-single a {
 vertical-align: middle; 
}


label.ep4bookx-select {
    border-bottom: 1px solid #99C2DA;
    font-weight: bold;
    text-align: center;
}

#customize-fields h3 { 
    color: #F44336;
}

#enable-fields .customize-fields-single:hover {
    background: #f2f2f2;
}

.customize-fields h3 {
    color:#F44336;
}

.ep4-right {
    float: right !important;
    width: 20% !important;
}
.ep4-left {
    float: left;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
    padding: 15px;
}

.ep4bookx-btn-info-close {
    background-image: url('ic_highlight_off_white_18dp_1x.png');  
    background-color: #607D8B;
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.ep4bookx-btn-info:hover, .ep4bookx-btn-info:focus {
/*   // background-image: url('ic_info_outline_white_18dp_1x.png');*/
}
.ep4bookx-btn-info-close:hover, .ep4bookx-btn-info-close:focus {
/*    //background-image: url('ic_highlight_off_white_18dp_1x.png');  */
}
#ep4bookx-btn-close {
/*    background: url('ic_highlight_off_white_18dp_1x.png');  
    background-color: #607D8B;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    padding: 1.1em 1.3em;
    &:after {
        content: 'glyphicon glyphicon-star';
    }*/
}
.icon-settings {
    background: url('ic_settings_white_18dp_1x.png');
    background-size: cover;
    width: 16px;
    height: 16px;
    display: inline-block;
    content: "";
    vertical-align: middle;  
}


/* ends For customize layouts section */

.action {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    padding-left: 5px;
    padding-right: 5px;
}

#load {
    position: fixed;
    background-image: url(../../../../images/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: rgba(33, 32, 32, 0.54);
    z-index: 10000;
    overflow-x: hidden;
    transition: 0.5s;
}

/** How to - readme file */

.ep4bookx-howto  {
    position: relative;
    padding: 1px;

}
.ep4bookx-howto-open {
    background-color: #f7f6ef;
    padding: 10px;
    border-radius: 2px;

}
.wrap-read {
    display:none;
}

.modal-header {
    background-color: #dff0d8;
}
.wrap-read-inner {
    padding: 0 15px;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 12px;
    height: 70vh;
    overflow-x: auto;
}
/** How to - readme file */

#load, .ep4bookx-msg {
    display: none;
}
.error {
    display: block;
    padding: 10px;
    color: #F44336;
}

.l-left {
   
    padding: 10px;
    box-shadow: 0px 2px 2px 2px #CFD8DC;
}
.l-right {
   
    padding: 10px;
}
.l-content {
    padding:15px !important;
}

.at-error {
    /* placed on a error labels */
    color: #F44336;
    margin: 6px 0;
    display: inline;
}

.at-warning {
    /* placed on a warning (invalid) labels */
    color: #8A6D3B;
    margin: 6px 0;
}

.at-required-highlight {
    /* highlight required form fields */
    color: red;
}
.at-active {
    /* highlight required form fields */
    color: #FF9800;
}

.lightcolor, .at-inactive {
    color: #9E9E9E;
}
.edit-link {
    display: inline;
    float: right;
}

.smallText {
    max-height: 70vh;
    overflow: auto;
}  

.btn {
    font-size: inherit;
}
.btn-primary, .btn-primary:hover,.btn-danger, .btn-danger:hover {
    
    border-color: transparent;
}

.input-group-btn {
    position: relative;
    font-size: 1rem;
    white-space: nowrap;
    padding: 0 5px;
}

i {
    font-size: 1.2rem;
    vertical-align: middle;
}
#results {
    clear:both;
}